body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #618264 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #618264 !important;
}

.profile-card {
  background-color: #d0e7d2;
  color: #618264 !important;
}

input,
textarea {
  border-color: #618264 !important;
}

input:hover {
  border-color: #000 !important;
}

h3 {
  color: #d0e7d2 !important;
}

svg {
  color: #d0e7d2 !important;
}

li {
  color: #d0e7d2 !important;
}

.address,
.display-details-template h1,
.display-details-template a,
.display-details-template h2,
.display-details-template h3,
.display-details-template h4,
.display-details-template h5,
.display-details-template h6,
.display-details-template p,
.display-details-template i,
.display-details-template em,
.display-details-template b,
.display-details-template li,
.display-details-template svg {
  color: #000 !important;
}

.display-details-template h3 {
  border-bottom-color: #000 !important;
}

.display-details a {
  color: white !important;
}

.btn-icon {
  color: black !important;
}

.new-cv {
  background-color: #d0e7d2;
  color: #618264;
}

.save-cv {
  background-color: #d0e7d2;
  color: #618264;
}

.save-cv:hover {
  color: #d0e7d2;
}

.block-btn {
  background-color: #618264 !important;
  color: #d0e7d2 !important;
}

.block-btn:hover svg {
  color: #618264 !important;
}

.block-btn:hover {
  background-color: #d0e7d2 !important;
  color: #618264 !important;
}

.heading {
  color: #618264 !important;
}

.resume-template {
  background-color: #d0e7d2;
  border-radius: 5px;
  box-shadow: 15px 20px #618264 !important;
}
